<?xml version="1.0" encoding="UTF-8" ?>
<configuration >
    <property name="LOG_HOME" value="./log/"/>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG" />
    <appender name="STD_LOG_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | [ %X{traceId} ] |%-5level |[%thread] |%logger{50}| %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/xmo.log.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | [ %X{traceId} ] |%-5level |[%thread]| %logger{50}| %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STD_LOG_OUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
